<%- include('../adminLayout/header.ejs',{adminSession}) %>


<section class="content-main">
    <!-- <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div> -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/addBrand" method="post" enctype="multipart/form-data"  onsubmit="return validateForm()">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Brand Name</label>
                            <input type="text" name="brandname" placeholder="Type here" class="form-control" id="brand_name"/>
                            <div class="error-message" id="name-error"></div>
                        </div>
                    
                        <!-- <div class="mb-4">
                            <label class="form-label">Image</label>
                            <input type="file" name="image" placeholder="Image" class="form-control" id="image" accept="image/*" />
                            <div class="error-message" id="image-error"></div>
                        </div> -->
                    
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea name="description" placeholder="Type here" class="form-control" ></textarea>
                            <div class="error-message" id="description-error"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Image</label>
                            <input type="file" name="images" placeholder="Image" class="form-control" id="images" accept="image/*" />
                            <div class="error-message" id="image-error"></div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Add Brand</button>
                        </div>
                    </form>
                    
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>Image</th>
                                    <th>Brand Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                   
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                <% if (brand.length > 0) { %>

                    <% for (let i = 0; i < brand.length; i++) { %>

                      
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <div class="col-12"> <td> <img class="rounded"  style="width: 50px; height: 60px;" src="/admin/assets/imgs/category/<%= brand[i].images %>" alt="image"></td></div>
                                            <td class=""><b><%= brand[i].name %></b></td>
                                            <td><%= brand[i].description %></td>
                                            <% if (brand[i].status==true) { %>
                                                <td><span class="badge rounded-pill alert-success">Listed</span></td>
                                                
                                                <% } else { %>
                                                    <td><span class="badge rounded-pill alert-danger">Unlisted</span></td>
                                                    <% } %>
                                            <td class="text">
                                                <div class="dropdown">
                                                    <!-- <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu"> -->
                                                        <a class="dropdown-item"  href="/admin/deleteBrand?id=<%= brand[i]._id %>">Delete</a>
                                                        <a class="dropdown-item" href="/admin/editBrand?id=<%= brand[i]._id %>">Edit </a>
                                                        <% if (brand[i].status==true) { %>
                                                        <a class="dropdown-item text-danger" href="/admin/unlistBrand?id=<%= brand[i]._id %>">Unlist</a>
                                                        <% } else { %>
                                                        <a class="dropdown-item " style="color: rgb(24, 181, 24);" href="/admin/listBrand?id=<%= brand[i]._id %>">List</a>
                                                        <% } %>
                                                            
                                                    <!-- </div> -->
                                                </div> <!-- dropdown //end -->

                                                <br>
                                                <br>
                                                <br>
                                            </td>
                                       
                                        </tr>
                                        
                                    </tbody>
                                
                        <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="2">Brand not found</td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
    


</section> <!-- content-main end// -->

<script>



    function validateForm() {
        // Reset any existing error messages
        clearErrorMessages();

        // const name = document.getElementById('brand_name').value;
        const name = document.querySelector('input[name="brandname"]').value;
        
        // const image = document.getElementById('image').files[0];
        // const description = document.getElementsByName('description')[0].value;
        const description = document.querySelector('textarea[name="description"]').value;
        const images = document.getElementById('images').files;

        console.log(name,description,images);

        let isValid = true; 

        // Check if name is empty
        if (name.trim() === ''){
            displayErrorMessage('name-error', 'Please enter a Brand name.');
            isValid = false;
        }

         if (description.trim() === '') {
            displayErrorMessage('description-error', 'Please enter a category description.');
            isValid = false;
            
        }
      //  Check if an image is selected and is of the correct type (image)
        if (images.length === 0) {
            displayErrorMessage('image-error', 'Please select an image.');
            isValid = false;
        }

        // Check if description is empty
       

        return isValid; // Form is valid
    }

    function displayErrorMessage(errorId, message) {
        const errorDiv = document.getElementById(errorId);
        errorDiv.innerText = message;
    }

    function clearErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach((errorMessage) => {
            errorMessage.innerText = '';
        });
    }
</script>
