<%- include('../adminLayout/header.ejs',{adminSession}) %>


<section class="content-main">
    <div class="content-header ">
        <div>
            <h2 class="content-title card-title" style="margin-top: 70px; margin-left: 110px; margin-bottom: 30px;">Coupons</h2>           
        </div>      
    </div>
    <div class="card col-lg-10" style="margin-left: 110px; margin-bottom: 20px;">
        <header class="card-header">
           
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th>sl.No</th>
                            <th>Name</th>
                            <th >Description</th>
                            <th>Offer Price</th>        
                            <th>Minimum Purchase Amount</th>
                            <th style="color: green;">Created Date</th>
                           <th style="color: red;"> Expiry Date</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: hidden; overflow-x: hidden;">
                        <% if (coupons.length > 0) { %>
                           <% for (let i = 0,z=1; i < coupons.length; i++,z++) { %>
                                <tr>                           
                                    <td><%=z%></td>
                                    <td><b><%=coupons[i].name%></b></td>
                                    <td  style="max-width: 300px;"><%=coupons[i].description %></td>    
                                    <td><%=coupons[i].offerPrice %></td>
                                    <td><%=coupons[i].minimumAmount %></td>
                                    <td><%=coupons[i].createdOn.toLocaleDateString() %></td>
                                    <td><%=coupons[i].expiryDate.toLocaleDateString() %></td>
                                    <td class="text-end" >
                                    
                                        <a onclick="deleted('<%= coupons[i]._id%>')"  class="btn btn-md rounded font-sm" >Delete</a>
                                        <a href="/admin/editCoupon?id=<%=coupons[i]._id%>" class="btn btn-md rounded font-sm">Edit</a>
                                    </td>
                                </tr>
                               
                               
                                <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="2">coupon not found</td>
                                    </tr>
                          <% } %>       
                    </tbody>
                </table>
            </div> <!-- table-responsive//end -->
        </div>
      
    </div>
    
</section> 
<script>
function deleted(id){
    $.ajax({
        url:`/admin/deleteCoupon?id=${id}`,
        method:'GET',
    success:function(response){
        if(response.status){
            Swal.fire({
            title: 'DELTED!',
            text: 'Coupon deleted successfully!',
            icon: 'success',
            timer: 5000
        }); 
        setTimeout(function(){
            location.reload();
        },2000)
        }else{
            Swal.fire({
            title: 'ERROR!',
            text: 'Unable to delete Coupon!',
            icon: 'error',
            timer: 5000
        }); 
        }
    }
    })
}

</script>


<%- include('../adminLayout/footer.ejs',{adminSession}) %>