<%- include('../adminLayout/header.ejs',{adminSession}) %>

<section class="content-main" style='margin-left: 500px; '>
    <div class="row">
        <div class="col-lg-12">
            <div class="content-header col-8">
                <h2 class="content-title" style="margin-top: 15px; margin-left: 80px;">Add New Coupon</h2>
                <div>
                    <form action="/admin/editTheCoupon?id=<%= coupon._id %>" method="post" onsubmit="return validateForm();">

                        <button type="submit" class="btn btn-md rounded font-sm hover-up" style="margin-bottom: 9px;margin-top: 30px; margin-left: 20px;">Add Coupon</button>
                   
                </div>
            </div>
            <div class="col-lg-6" >
                <div class="card mb-4" style="border-color: black; border-width: .2px; border-radius: 20px;" >
                    <div class="card-body" >
                        <!-- ........................................................................... -->
                        <% if(typeof messages !=='undefined'){ %>
                            <div>
                                <p class="ermsg" style="color:red; text-align: center;" id="messages">
                                    <%= messages %>
                                </p>
                            </div>
                            <script>
                                setTimeout(function () {
                                    var errorMessage = document.getElementById('messages');
                                    errorMessage.style.display = 'none';
                                }, 5000);
                            </script>
                            <% } %>
                            <% if(typeof message !=='undefined'){ %>
                                <div>
                                    <p class="ermsg" style="color:green; text-align: center; " id="messages">
                                        <%= message %>
                                    </p>
                                </div>
                                <script>
                                    setTimeout(function () {
                                        var errorMessage = document.getElementById('messages');
                                        errorMessage.style.display = 'none';
                                    }, 5000);
                                </script>
                                <% } %>
                            <!-- ............................................................................. -->
                        <div class="mb-4">
                            <label for="product_title" class="form-label">Coupon name</label>
                            <input type="text" placeholder="Type here" name="name" class="form-control" id="product_title" style="text-transform:uppercase" value="<%= coupon.name%>">
                            <div class="error-message" id="name-error" style="color: red;"></div>
                        </div>
                        <!-- <style>
                            .form-control{
                                text-transform: uppercase;
                            }
                        </style> -->
                        <div class="row gx-3">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Description</label>
                                <textarea type="text" placeholder="Type here" name="description" class="form-control" id="product_title" ><%= coupon.description %></textarea>
                                <div class="error-message" id="description-error" style="color: red;"></div>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_color" class="form-label">Offer Price</label>
                                <input type="number" placeholder="Type here" name="offerPrice" class="form-control" id="product_color" value="<%= coupon.offerPrice %>">
                                <div class="error-message" id="offerPrice-error" style="color: red;"></div>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Minimum Amount</label>
                                <input type="number" name="minimumAmount" placeholder="Type here" class="form-control" id="product_size" value="<%=coupon.minimumAmount %>">
                                <div class="error-message" id="minimumAmount-error" style="color: red;"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="product_brand" class="form-label">Expiry Date</label>
                            <input type="date" placeholder="Type here" name="expiryDate" class="form-control" id="product_brand" value="<%= coupon.expiryDate %>">
                            <div class="error-message" id="expiryDate-error" style="color: red;"></div>
                        </div>
                    </div>
                </div> <!-- card end// -->
            </form>
            </div>
        </div>
    </div>
</section>

<script>

    function validateForm(){

        clearErrorMessage();

        const name = document.getElementsByName('name')[0].value;

        const description = document.querySelector('textarea[name="description"]').value;
      
        const offerPrice = document.getElementsByName('offerPrice')[0].value;
        const amount = document.getElementsByName('minimumAmount')[0].value;
        const Expiry = document.getElementsByName('expiryDate')[0].value;

        console.log("fuck ur self"+name,description,offerPrice,amount,Expiry);

       let isValid = true;
       
       if(name.trim() === ''){
        displayErrorMessage('name-error','fill this field');
        isValid=false;
       }
       if(description.trim() === ''){
        displayErrorMessage('description-error','fill this field');
        isValid=false;
       }
       if(offerPrice.trim() === ''){
        displayErrorMessage('offerPrice-error','fill this field');
        isValid = false;
       }
       if(amount.trim() === ''){
        displayErrorMessage('minimumAmount-error','fill this field');
        isValid= false;
       }
       if(Expiry.trim() === ''){
        displayErrorMessage('expiryDate-error','fill this field');
        isValid= false
       }

       return isValid;

    }
    function displayErrorMessage(errorId,errorMsg){
        const errorDiv = document.getElementById(errorId);
        errorDiv.innerText = errorMsg; 
    }
    function clearErrorMessage() {
            const errorMessages = document.querySelectorAll('.error-message');
            errorMessages.forEach((errorMessage) => {
                errorMessage.innerText = '';
                
            });
        }
</script>




<%- include('../adminLayout/footer.ejs',{adminSession}) %>