<%- include('../adminLayout/header.ejs',{adminSession}) %>

<section class="content-main" style="margin-left: 300px;">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title" style="margin-bottom:50px ;">Add New Banner</h2>
                <div>
                    <form method="post" action="/admin/edittedBanner?id=<%= banner._id %>" enctype="multipart/form-data" onsubmit="return validateForm()">
                   
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                   
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Banner Title</label>
                            <input type="text" placeholder="Type here" name="title" class="form-control" id="product_name" value="<%=banner.title %>">
                            <div class="error-message" id="title-error" style="color: red;"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Start Date</label>
                            <input type="date" name="startDate" id="start" class="form-control" value="<%= banner.startDate %>">
                            <div class="error-message" id="start-error" style="color: red;"></div>
                        </div>
                        <div class="mb-4">
                            <label for="product_name" class="form-label">End Date</label>
                            <input type="date" name="endDate" id="end" class="form-control" value="<%= banner.endDate %>">
                            <div class="error-message" id="end-error" style="color: red;"></div>
                        </div>    
                </div>
            </div> <!-- card end// -->
            
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <img src="/admin/assets/imgs/theme/upload.svg" alt="">
                        <input class="form-control" id="images"    name="image" type="file"  accept="image/*" onchange="previewImage()">
                        <div class="error-message" id="image-error" style="color: red;"></div>
                        <div id="image-preview-container" class="mt-3 mb-4"></div>
                    </div>
                </div>
            </div> <!-- card end// -->
        </form>
        </div>
    </div>
</section>
<style>
    #image-preview-container {
      max-width: 300px;
      max-height: 300px;
      overflow: hidden;
    }
    #image-preview {
      width: 100%;
      height: auto;
    }
  </style>
<script>

function validateForm(){

    clearErrorMessage();

    const title = document.getElementById('product_name').value;
    const startDate = document.getElementById('start').value;
    const EndDate = document.getElementById('end').value;
    const images = document.getElementById('images').files;

    console.log("this is banner "+title,startDate,EndDate)

    let isValid = true;
    if(title.trim() == ''){
        displayErrorMessage('title-error','fill this field');
        isValid=false;
    }
    if(startDate.trim() ==''){
        displayErrorMessage('start-error','fill this field');
        isValid = false;
    }
    if(EndDate.trim() == ''){
        displayErrorMessage('end-error','fill this field');
        isValid = false;
    }
    // if(images.length === 0){
    //     displayErrorMessage('image-error','select a image');
    //     isValid = false
    // }
    return isValid ;

}
function displayErrorMessage(errorId,message){
    const errorDiv = document.getElementById(errorId);
    errorDiv.innerText = message
}

function clearErrorMessage(){
    const errorMessages = document.querySelectorAll('.error-message');
            errorMessages.forEach((errorMessage) => {
                errorMessage.innerText = ''; 
            });
}
//....................................................................................BANNER PREVIEW.......................
function previewImage() {
  var fileInput = document.getElementById('images');
  var file = fileInput.files[0];
  
  if (file) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      var imagePreview = document.createElement('img');
      imagePreview.id = 'image-preview';
      imagePreview.src = e.target.result;
      
      var previewContainer = document.getElementById('image-preview-container');
      previewContainer.innerHTML = '';
      previewContainer.appendChild(imagePreview);
    };
    
    reader.readAsDataURL(file);
  }
}

</script>

<%- include('../adminLayout/footer.ejs',{adminSession}) %>