<%- include('../layouts/header.ejs',{userSession,cartLength,category}) %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <br>
    <br>
    <br>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Your Orders</h2>

                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="text" placeholder="Search order ID" class="form-control bg-white">
                    </div>

                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">

                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header> <!-- card-header end// -->
                    <% if (orders.length> 0) { %>
                        <% for (let i=0; i < orders.length;i++) { %>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>sl.No</th>
                                                <th scope="col">Name</th>

                                                <th scope="col">Quantity</th>
                                                <th scope="col"> Price</th>

                                                <th scope="col">Status</th>

                                                <th scope="col">Order Date</th>
                                                <th scope="col" class="text-end"> Action </th>
                                            </tr>

                                        </thead>
                                        <tbody>

                                            <% for (let j=0,z=1; j < orders[i].product.length; j++,z++) { %>

                                                <tr>

                                                    <td><b>
                                                            <%= z %>
                                                        </b></td>
                                                    <td><b>
                                                            <%= orders[i].product[j].title %>
                                                        </b>
                                                        <div style="padding-top: 10px;">
                                                            <b><span
                                                                    style=" color: green; font-weight:lighter ;font-family: Verdana, Geneva, Tahoma, sans-serif;">order
                                                                    ID:<%= orders[i]._id %></span></b>
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <%= orders[i].product[j].quantity %>.Nos
                                                    </td>
                                                    <td>₹<%= (orders[i].product[j].price)*(orders[i].product[j].quantity)
                                                            %>(<%= orders[i].payment %>)</td>

                                                    <% if (orders[i].product[j].status=='pending' ) { %>

                                                        <td><span
                                                                class="badge rounded-pill alert-warning">Pending</span>
                                                        </td>
                                                        <% } else if(orders[i].product[j].status=='confirmed' ){ %>
                                                            <td><span
                                                                    class="badge rounded-pill alert-success">confirmed</span>
                                                            </td>
                                                            <% } else if(orders[i].product[j].status=='canceled' ){ %>
                                                                <td><span
                                                                        class="badge rounded-pill alert-danger">Canceled</span>
                                                                </td>
                                                                <% } else if(orders[i].product[j].status=='shipped' ){
                                                                    %>
                                                                    <td><span
                                                                            class="badge rounded-pill alert-success">shipped</span>
                                                                    </td>
                                                                    <% } else
                                                                        if(orders[i].product[j].status=='delivered' ){
                                                                        %>
                                                                        <td><span
                                                                                class="badge rounded-pill alert-success">delivered</span>
                                                                        </td>
                                                                        <% } else
                                                                            if(orders[i].product[j].status=='return requested'
                                                                            ){ %>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-success text-danger">return requested</span>
                                                                            </td>
                                                                            <% } else
                                                                            if(orders[i].product[j].status=='returned'
                                                                            ){ %>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-success text-danger">returned</span>
                                                                            </td>
                                                                            <% } %>

                                                                                <td>
                                                                                    <%= orders[i].createdOn.toLocaleDateString()
                                                                                        %>
                                                                                </td>
                                                                                <td class="text-end">
                                                                                    <a href="/orderDetails?id=<%= orders[i].product[j].productId %>&orderId=<%= orders[i]._id %>"
                                                                                        class="btn btn-md rounded font-sm">Detail</a>
                                                                                    <% if
                                                                                        (orders[i].product[j].status=='pending'
                                                                                        ) { %>
                                                                                        <a href="#"
                                                                                            onclick="cancelOrder('<%= orders[i].product[j].productId %>','<%= orders[i]._id %>')"
                                                                                            class="btn btn-md rounded font-sm">Cancel</a>
                                                                                        <% } else
                                                                                            if(orders[i].product[j].status=='confirmed'
                                                                                            ){ %>
                                                                                            <a href="#"
                                                                                                onclick="cancelOrder('<%= orders[i].product[j].productId %>','<%= orders[i]._id %>')"
                                                                                                class="btn btn-md rounded font-sm">Cancel</a>


                                                                                            <% } else
                                                                                                if(orders[i].status=='canceled'
                                                                                                ){ %>
                                                                                                <% } else
                                                                                                    if(orders[i].status=='shipped'
                                                                                                    ){ %>
                                                                                                    <!-- <a href="/cancelOrder?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>"" class="btn btn-md rounded font-sm" >Cancel</a> -->
                                                                                                    <% } else
                                                                                                        if(orders[i].product[j].status=='delivered'
                                                                                                        ){ %>
                                                                                                        <a href="#"
                                                                                                            data-toggle="modal"
                                                                                                            data-target="#returnReasonModal"
                                                                                                            class="btn btn-md rounded font-sm">Return</a>
                                                                                                        <!-- .................................Modal...................................... -->
                                                                                                        <div class="modal fade"
                                                                                                            id="returnReasonModal"
                                                                                                            tabindex="-1"
                                                                                                            role="dialog"
                                                                                                            aria-labelledby="returnModalTitle"
                                                                                                            aria-hidden="true">
                                                                                                            <div class="modal-dialog modal-dialog-centered"
                                                                                                                role="document">
                                                                                                                <div
                                                                                                                    class="modal-content">
                                                                                                                    <div
                                                                                                                        class="modal-header">
                                                                                                                        <h5 class="modal-title"
                                                                                                                            id="addMoneyModalTitle">
                                                                                                                            Reason
                                                                                                                            for
                                                                                                                            Return
                                                                                                                        </h5>
                                                                                                                        <button
                                                                                                                            type="button"
                                                                                                                            class="close"
                                                                                                                            data-dismiss="modal"
                                                                                                                            aria-label="Close">
                                                                                                                            <span
                                                                                                                                aria-hidden="true">&times;</span>
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                    <div
                                                                                                                        class="modal-body">
                                                                                                                        <form
                                                                                                                            id="returnReasonForm">
                                                                                                                            <div
                                                                                                                                class="form-group">
                                                                                                                                <label
                                                                                                                                    style="float: left; color: red;"
                                                                                                                                    for="moneyAmount">Reason</label>
                                                                                                                                <input
                                                                                                                                    type="text"
                                                                                                                                    class="form-control"
                                                                                                                                    id="reason"
                                                                                                                                    placeholder="Enter your response">
                                                                                                                            </div>
                                                                                                                        </form>
                                                                                                                    </div>
                                                                                                                    <div
                                                                                                                        class="modal-footer">
                                                                                                                        <button
                                                                                                                            type="button"
                                                                                                                            class="btn btn-secondary"
                                                                                                                            data-dismiss="modal">Close</button>
                                                                                                                        <button
                                                                                                                            type="button"
                                                                                                                            class="btn btn-primary"
                                                                                                                            id="returnReasonButton"
                                                                                                                            onclick="returns('<%= orders[i].product[j]._id %>','<%= orders[i]._id %>')">Request
                                                                                                                            Return
                                                                                                                        </button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <script>

                                                                                                            function returns(productId, orderId) {

                                                                                                                const response = document.getElementById('reason').value
                                                                                                                if (response.trim() == '') {
                                                                                                                    alert("Invalid response");
                                                                                                                    return
                                                                                                                }
                                                                                                                $('#returnReasonModal').modal('hide');
                                                                                                                setTimeout(function () {
                                                                                                                    location.reload();
                                                                                                                }, 800);



                                                                                                                $.ajax({
                                                                                                                    url: `/return?productId=${productId}&orderId=${orderId}&resp=${response}`,
                                                                                                                    method: 'GET',
                                                                                                                    success: (response) => {
                                                                                                                        if (response.status) {
                                                                                                                            Swal.fire({
                                                                                                                                title: 'Return Order',
                                                                                                                                text: 'Return Request Send Successfully',
                                                                                                                                icon: 'success',
                                                                                                                                timer: 6000,
                                                                                                                                showConfirmButton: true,
                                                                                                                            });
                                                                                                                            setTimeout(function () {
                                                                                                                                location.reload();
                                                                                                                            }, 3000)
                                                                                                                        } else {
                                                                                                                            res.json({ status: false })
                                                                                                                        }
                                                                                                                    }
                                                                                                                })
                                                                                                            }

                                                                                                        </script>
                                                                                                        <!--.............................................................................  -->
                                                                                                        <% } else
                                                                                                            if(orders[i].status=='returned'
                                                                                                            ){ %>

                                                                                                            <% } %>
                                                                                </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <script>
                                        function cancelOrder(productId, orderId) {
                                            $.ajax({
                                                url: `/cancelOrder?productId=${productId}&orderId=${orderId}`,
                                                method: 'GET',
                                                success: (response) => {
                                                    if (response.status) {
                                                        Swal.fire({
                                                            title: 'Cancel Order',
                                                            text: 'Order Canceled Successfully',
                                                            icon: 'success',
                                                            timer: 3000,
                                                            showConfirmButton: true,
                                                        });
                                                        setTimeout(function () {
                                                            location.reload();
                                                        }, 1000)
                                                    } else {
                                                        res.json({ status: false })
                                                    }
                                                }
                                            })

                                        }


                                    </script>
                                    <table>
                                        <div style=" margin-right: 40px;">
                                            <tr>
                                                <th><span
                                                        style="font-weight: bolder; font-size: large; color: red;">Payable
                                                        Amount:</span></th>
                                                <th><span style="font-weight: bolder; font-size: large;"> ₹<%=
                                                            orders[i].totalPrice %></span></th>
                                            </tr>
                                        </div>
                                        <% } %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="2">No item found in Oders</td>
                                                </tr>
                                                <% } %>
                                    </table>

                                </div> <!-- table-responsive //end -->
                            </div> <!-- card-body end// -->

                </div> <!-- card end// -->
            </section> <!-- content-main end// -->
        </div>
    </div>
    <%- include('../layouts/footer.ejs',{userSession}) %>












        <