<%- include('../layouts/header.ejs',{userSession,cartLength,category}) %>


    <div  class="card-body" style="margin-left: 50px; margin-right: 50px; margin-bottom: 60px;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Wallet transaction</h5>
            </div>
            <table class="table" id="transactionTable">
                <thead>
                    <tr>
                        <th>sl.No</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody id="transactionBody">

                    <% for(let i=0,z=1; i < history.length;i++,z++) { %>
                        <tr>
                            <td>
                                <%=z%>
                            </td>
                            <td>
                                <%= new Date(history[i].timestamp).toLocaleDateString() %>
                            </td>
                            <% if(history[i].status == 'credit'){ %>
                            <td style="color: green;">
                                <%= history[i].status %>
                            </td>
                            <%}else{%>
                                <td style="color:red;">
                                    <%= history[i].status %>
                                </td>
                            <% } %>

                            <% if(history[i].status == 'credit'){ %>
                            <td style="color: green;">
                                ₹<%= (history[i].amount ).toFixed(2)%>
                            </td>
                            <%}else{%>
                                <td style="color:red">
                                    ₹<%= (history[i].amount ).toFixed(2)%>
                                </td>
                                <% } %>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div id="pagination"></div>
            <div style="padding-top: 30px; margin-left: 530px; margin-bottom: 60px;">
                <% if (currentPage> 1) { %>
                    <a href="/wallet?page=<%= currentPage-1 %>" class="badge rounded-pill alert-success" style="margin-right: 10px;">Previous</a>
                    <% } %>
                        <span class="badge rounded-pill alert-warning"> <%= currentPage %> of <%= totalPages %></span>
                        <% if (currentPage < totalPages) { %>
                            <a href="/wallet?page=<%= currentPage + 1 %>" class="badge rounded-pill alert-danger" style="margin-left: 10px;"> Next</a>
                            <% } %>
            </div>
        </div>
    </div>
    <script>
     

    </script>
    <%- include('../layouts/footer.ejs') %>